<div class="col-md-12">
    <div class="row">
        <div class="col-md-2 sidenav">
            <div class="row">
                <ul>Home
                    <div>
                        <a href="">
                            <li>
                                Profile
                            </li>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <li>
                                News Feed
                            </li>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <li>
                                Messanger
                            </li>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <li>
                                Market Place
                            </li>
                        </a>
                    </div>
                </ul>
                <ul>Events
                    <div>
                        <a href="">
                            <li>
                                Groups
                            </li>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <li>
                                Pages
                            </li>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <li>
                                Friends List
                            </li>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <li>
                                Games
                            </li>
                        </a>
                    </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.sidenav {
    background: black;
    height: 100vh;
    position: fixed;
}

.sidenav ul {
    list-style-type: none;
    padding: 16px;
    font-size: 19px;
    color: red;
}

.sidenav ul a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

</style>
