<div class="col-md-12 main">
    <div class="row">
        <div class="col-md-6 boxeses">
            <div class="row">
                <div class="boxes" id="timeline"></div>
            </div>
        </div>
        <div class="col-md-3 div2">
            <div class="row">
                <!-- <h1>Hii</h1> -->
            </div>
        </div>
        <div class="col-md-3 lastrow">
            <div class="row">
                <div class="trow">
                    <div class="row">
                        <h6 style="margin-left: 33px;font-size: 22px;">Pan Orbit Assignment</h6>
                        <br>
                        <h3></h3>
                    </div>
                </div>
                <div class="trow1">
                    <div class="row">
                        <br>
                        <h6 style="margin-left: 90px;font-size: 22px;">Assignment</h6>
                        <br>
                        <h6 style="margin-left: 85px;font-size: 20px;">Submitted By</h6>
                        <br>
                        <h6 style="margin-left: 99px;font-size: 18px;">*******</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
window.addEventListener("scroll", function() {
    var wrap = document.getElementById('timeline');
    var contentHeight = wrap.offsetHeight;
    var yOffset = window.pageYOffset;
    var y = yOffset + window.innerHeight;
    if (y >= contentHeight) {
        wrap.innerHTML = wrap.innerHTML + "<img src='images/image.jpeg' alt='PanOrbit' height='200' width='500' style='margin:10px'>";
    }
})

window.addEventListener("scroll", function() {
    var wrap = document.getElementById('timeline1');
    var contentHeight = wrap.offsetHeight;
    var yOffset = window.pageYOffset;
    var y = yOffset + window.innerHeight;
    if (y >= contentHeight) {
        wrap.innerHTML = wrap.innerHTML + "<p>Hiiiiiii</p>";
    }
})

$(function() {
    setTimeout(function() {
        $('html, body')
            .css({
                'overflow': 'scroll'
            })
            .animate({
                scrollTop: $('.myDiv').offset().top
            }, 2000);
    }, 2000);
    return false;
});

</script>
<style type="text/css">
html,
body {
    /*overflow: hidden;*/
}

.spacer {
    border: 1px solid red;
    height: 2000px;
}

.div2 {
        position: fixed;
    z-index: 999;
    top: 0.5em;
    min-height: 1000px;
    right: 21%;
    width: 20%;
    /*margin-right: 5px;*/
    /*overflow: auto;*/
    background-color: yellow;
    /*z-index: 999;*/
    /*margin-left: 39em;*/
    /*transform: translate(2%);*/
    /*left: 0.5%;*/
}

.main {
    

    /*position: relative;*/
    margin-left: 16em;
    background-color: #e9eaed;
    width: 100%;
    height: 100%;
}

.boxeses {
    padding: 1em;
    z-index: 999;
    /*top: 0 margin-top: 80%;*/
    /* transform: translate(-50%); */
    /*overflow: auto;*/
    /* position: absolute; */
    background-color: white;
    min-height: 100vh;
     width: 49%; 



    /*padding: 2em;
    z-index: 999;
    top: 0
    margin-top: 80%;*/
    /*transform: translate(-50%);*/
    /*overflow: auto;*/
    /*position: absolute;*/
    /* background-color: teal; */
    /*height:100vh;*/
    /*width: 42%;*/
}

.thrbox {
    /*width: 27%;*/
    /*position: fixed;*/
    /*overflow: auto;*/
    /*height: 100vh;*/
    /*position: fixed;*/
    /*padding: 2em;*/
    left: 13%;
    /*top: -5%;*/
    transform: translate(215%);


    /*    height: 100vh;
    position: fixed;
    padding: 2em;
    left: 89%;
    top: -5%;
    transform: translateX(-50%);
    width: 21.33%;*/
}

.boxes {
        z-index: 999;
    margin-top: 0.5%;
    /* text-align: center;*/
     /*overflow: auto; */
    /* height: 40vh; */
    /*width: 37vw;*/
    /*  margin: 7px;
    background-color: white;*/
}

.lastrow {
    height: 100vh;
    position: fixed;
    padding: 2em;
    left: 89%;
    top: -4%;
    transform: translateX(-50%);
    width: 21.33%;
}

.trow {
    background-color: white;
    height: 49vh;
    /*overflow-y: scroll;*/
    margin: 6px;
}

.trow1 {
    background-color: white;
    height: 47vh;
    margin: 6px;
}

</style>
