<div class="col-md-2 lastrow">
    <div class="row">
        <div class="trow">
            <div class="row">
            </div>
        </div>
        <div class="trow1">
            <div class="row">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
window.addEventListener("scroll", function() {
    var wrap = document.getElementById('timeline1');
    var contentHeight = wrap.offsetHeight;
    var yOffset = window.pageYOffset;
    var y = yOffset + window.innerHeight;
    if (y >= contentHeight) {
        wrap.innerHTML = wrap.innerHTML + "<p>Hiiiiiii</p>";
    }
})

</script>

<style type="text/css">
    .lastrow {
    /*background-color: peru;*/
    height: 100vh;
    width: 21.33%;
}
</style>
